<h4>Edit Franchisee Details</h4>
<%= render 'form' %>

    
<%= link_to "Back", franchisemaster_path,:class=>["btn","btn-default"] ,:id=>"backbutton"%>
<%= link_to 'Show', @franchisemaster,:class=>["btn","btn-default"] ,:id=>"backbutton" %> 
    