<h4>Edit Details</h4>
<%= render 'form' %>      
<%= link_to "Back", bkdata_path,:class=>["btn","btn-default"] ,:id=>"backbutton"%>
<%= link_to 'Show', @bk_data,:class=>["btn","btn-default"] ,:id=>"backbutton" %> 
    

    